button{
    background-color: rgb(27, 27, 243);
    font-size: medium;
    display: flex;
}
.bcg{
    background-color: blueviolet;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    margin-top: 5em;
    display: block;
}
.bcg:hover{
    color: yellow;
    font-size: 25px;
}
.rupp::after{
   content: 'FE';

}
p::first-line{
    color: coral;
}